.navbar-title {
    width: 116;
    height: 57;
    font-size: 42;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
};

.sign-in {
    font-size: 18;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: #000000;
};
