.container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    // height: 300px !important;
    background-color: #2468ff !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.icon {
    width: 5.5em !important;
    height: 5.5em !important;
    // border-radius: 6.5em;
    // border: 0.1em solid
    // #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 10px;
}

.title {
    font-size: 4em;//xx-large;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: white;
}

.sub-title {
    font-size: 3em;//xx-large;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: white;
}

.content {
    font-size: 18px;//xx-large;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 36em;
    line-height: 1.4;
}
