<div class="container" style="text-align: center;">
    <img
        class="icon"
        src="../../../../assets/icons/email.png"
        alt="Google icon" />
    <p class="title">
        Email
    </p>
    <p class="content" style="margin-top: -10px;">
        Send and receive important information when you need it, automatically, with this service. The "send me an email" action has a daily limit of 750 messages per day, at which point Applets will be paused until the limit resets at 12:00 AM GMT.
    </p>
</div>
<li *ngFor="let app of service.apps; index as i; trackBy: trackByFn">
    <div fxLayout="column" fxLayoutAlign="start center" style="margin-bottom: 20px;">
        <app-app-card
            [id]="'a'"
            [title]="app.title"
            [author]="app.author"
            [downloads]="app.downloads"
            ></app-app-card>
    </div>
</li>
