<div class="container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="card">
        <mat-card-content>
            <div style="margin-left: auto; margin-right: auto; text-align: center;">
                <input [className]="mailError ? 'is-invalid form-control' : 'form-control'" [(ngModel)]="email" style="margin-bottom: 10px;" type="text" placeholder="Enter your email" id="inputEmail">
                <input [className]="passwordError ? 'is-invalid form-control' : 'form-control'" [(ngModel)]="password" style="margin-bottom: 10px;" type="password" placeholder="Enter your password" id="inputEmail">
                <input [className]="passwordError ? 'is-invalid form-control' : 'form-control'" [(ngModel)]="passwordRepeat" style="margin-bottom: 10px;" type="password" placeholder="Enter your password" id="inputEmail">
                <div style="margin-bottom: 10px;" *ngIf="textError.length !== 0" class="invalid-feedback">{{textError}}</div>
                <button [disabled]="connecting" (click)="register()" type="button" class="btn btn-black">Register</button>
            </div>
            <h1>or</h1>
            <div class="form-inline">
                <div style="margin-left: auto; margin-right: auto;">
                    <button (click)="connectViaGoogle();" type="button" class="btn btn-red" style="margin-right: 20px !important;">Continue with google</button>
                    <button type="button" class="btn btn-blue">Continue with Facebook</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
